
<section class="about-view  slide-down">
	<h1>About Fireflies</h1>

	<p>Fireflies ia a simple web application that displays a random quote and background image every time it's loaded.</p>

	<p>Fireflies is a single-page application built off of <a href="">AngularJS</a>. It displays a quote and background image at random every time the page is loaded.</p>

	<p>I've learned a lot since starting Fireflies, namely the awesomeness that is <a href="http://npmjs.org">Node Package Manager</a>, <a href="http://bower.io">Bower</a>, <a href="http://gruntjs.com">Grunt</a> and of course Angular!</p>

	<p>Fireflies was inspired by <a href="http://chibird.com">Chibird's posts on Tumblr</a>. I found one that I particularly <a href="http://chibird.com/post/74996652847/">loved</a> and soon after Fireflies was born. It was merely a way for me to learn some stuff about JavaScript, now it's turned into a full blown application.</p>
</section>
