
<section class="quote-container  quote-view  slide-down">
    <p class="quote-text" ng-bind-html="quote"></p>

    <p class="quote-source" ng-if="!source" ng-bind-html="author"></p>

    <p class="quote-source" ng-if="source && !title">
        <a class="underline" ng-bind-html="author + '<span></span>'"
           href="{{ source }}" target="_blank"></a>
    </p>

    <p class="quote-source" ng-if="source && title">
        <a class="underline" ng-bind-html="author + '<span></span>'"
           href="{{ source }}" title="{{ title }}" target="_blank"></a>
    </p>
</section>
