
/* Table of Contents
 ============================================================================ */

/*

	1. Imports
	2. Base
	3. Structure
	4. Utilities
	5. Media Queries

 */


/* 1. Imports
 ============================================================================ */

/* Normalize 3.0.0 */
@import url(http://necolas.github.io/normalize.css/3.0.0/normalize.css);


/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif);


/* 2. Base
 ============================================================================ */

html {
	min-height: 100%;
}

body {
	font-size: 0.875em;
	line-height: 1.5;
	font-family: "Droid Sans", sans-serif;
	text-rendering: optimizelegibility;
	color: #202020;
	background-color: #13141A;
}

p {
	margin-bottom: 1.5em;
}

a {
	color: #1E809E;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* 3. Structure
 ============================================================================ */

.container {
	max-width: 960px;
	margin: 15% auto;
}


.no-js {
	font-size: 1.35em;
	text-align: center;
}

.no-js .sad {
	font-size: 1.4em;
}


.quote {
	color: #F0EEDF;
	text-shadow: 0 2px 3px #000000;
}

.quote p {
	font-size: 1.5em;
	font-family: "Droid Serif", serif;
	text-align: center;
}

.quote a {
	color: #FFDD76;
	text-shadow: 0 2px 3px #453C16;
	font-weight: bold;
	text-decoration: none;
}

.quote cite {
	font-style: normal;
	text-align: right;
	display: block;
	margin-right: 6em; /* Push the citation inward a bit */
}

.quote cite:before {
	content: "\2014";
}


.background-image {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: -100; /* Set the background below everything else. */
	-webkit-background-size: cover;
	background-size: cover;
}

/* Background image classes, applied by the setBackgroundImage()
   function in js/app.js */

.bg-autumn-grass        { background-image: url("/img/bg-autumn-grass.jpg") }

.bg-lanterns-in-the-sky { background-image: url("/img/bg-lanterns-in-the-sky.jpg") }

.bg-leap                { background-image: url("/img/bg-leap.jpg") }

.bg-majestic-log        { background-image: url("/img/bg-majestic-log.jpg") }

.bg-noc-kupaly          { background-image: url("/img/bg-noc-kupaly.jpg") }

.bg-pathway-lamp        { background-image: url("/img/bg-pathway-lamp.jpg") }

.bg-snow                { background-image: url("/img/bg-snow.png") }

.bg-the-ocean-sky       { background-image: url("/img/bg-the-ocean-sky.jpg") }


/* 4. Utilities
 ============================================================================ */

.underline {
	display: inline-block;
}

.underline span {
	background-color: #FFDD76;
	position: relative;
	display: block;
	height: 2px;
	transform: scaleX(0);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.underline:hover span {
	transform: scaleX(1);
}


/* 5. Animations
 ============================================================================ */

.anim-fade-in {
	-webkit-animation: fade-in 2s;
	animation: fade-in 2s;
}

.anim-slide-down {
	position: relative;
	-webkit-animation: slide-down 1.25s;
	animation: slide-down 1.25s;
}

@-webkit-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-o-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-moz-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}


@-webkit-keyframes slide-down {
	from { bottom: 2em; }
	to   { bottom: 0; }
}
@-o-keyframes slide-down {
	from { bottom: 2em; }
	to   { bottom: 0; }
}
@-moz-keyframes slide-down {
	from { bottom: 2em; }
	to   { bottom: 0; }
}
@keyframes slide-down {
	from { bottom: 2em; }
	to   { bottom: 0; }
}


/* 6. Media Queries
 ============================================================================ */

@media (max-width: 480px) {
	.quote {
		margin: 0 1em;
	}

	.quote cite {
		margin-right: 0;
	}
}
