
/* Normalize 3.0.0 */

@import url(http://necolas.github.io/normalize.css/3.0.0/normalize.css);


/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif);


html {
	min-height: 100%;
}

body {
	font-size: 1em;
	line-height: 1.5;
	font-family: "Droid Sans", sans-serif;
	text-rendering: optimizelegibility;

	color: #DBDBDB;
	background-color: #13141A;

	/* Used when a background is applied to the body
	   via fireflies.js */
	-webkit-background-size: cover;
	background-size: cover;

	width: 70%;
	margin: 15% auto 0 auto;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #4CCAED;
}


.no-js {
	font-size: 1.2em;
	text-align: center;
}

.no-js .sad {
	font-size: 1.35em;
}


.quote p {
	font-size: 1.35em;
	font-family: "Droid Serif", serif;
	text-align: center;
	hyphens: auto;
}

.quote cite {
	font-size: 0.9em;
	font-style: normal;
	text-transform: lowercase;
	text-align: right;
	display: block;
}

/*.quote cite:before {
	content: "\2014";
}*/

.quote cite a {
	color: #FFEE7C;
}


.underline {
	display: inline-block;
}

.underline span {
	background-color: #FFEE7C;
	position: relative;
	display: block;
	height: 2px;
	transform: scaleX(0);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.underline:hover span {
	transform: scaleX(1);
}
