<section class="quote-container  quote-view  slide-down">
    <p class="quote-text" ng-bind-html="vm.quote.text"></p>

    <p class="quote-source" ng-if="!vm.quote.source" ng-bind-html="vm.quote.author"></p>

    <p class="quote-source" ng-if="vm.quote.source && !vm.quote.title">
        <a class="underline" ng-bind-html="vm.quote.author + '<span></span>'"
           href="{{ quote.source }}"></a>
    </p>

    <p class="quote-source" ng-if="vm.quote.source && vm.quote.title">
        <a class="underline" ng-bind-html="vm.quote.author + '<span></span>'"
           href="{{ vm.quote.source }}" title="{{ vm.quote.title }}"></a>
    </p>
</section>
