{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="author" content="David Minnerly">

    <title>{% block title %}Fireflies{% endblock %}</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif">
    <link rel="stylesheet" href="{% static "fireflies/css/screen.css" %}">
  </head>

  <body class="fade-in">
    <main class="masthead" role="main">
      {% block background %}{% endblock %}
      {% block quote %}{% endblock %}
    </main>

    {% block subcontent %}{% endblock %}
    {% block footer %}{% endblock %}

    <script src="{% static "fireflies/js/jquery.min.js" %}"></script>
    <script src="{% static "fireflies/js/stellar.js" %}"></script>
    <script src="{% static "fireflies/js/main.js" %}"></script>
  </body>
</html>
