
/* Table of Contents
 ============================================================================ */

/*

  1. Compass
  2. Fonts
  3. Colors

 */


/* 1. Compass - Importing Gems and Modules.
 ============================================================================ */

/* Import Compass modules individually so it's clear what
   is being used in the project */
@import "compass/css3";

/* Susy grid system */
@import "susy";


/* 2. Fonts - Directly from Google
 ============================================================================ */

/* Fonts are loaded in the <head> of app/index.html */

$font-stack: "Droid Sans", sans-serif;
$header-font-stack: "Droid Serif", serif;


/* 3. Colors - The look and feel of the site
 ============================================================================ */

// Typography

$text-color: #424D52;
$header-color: #3D464A;

$link-color: #54A9F0;
$link-hover-color: #427096;

$quote-color: #F0EEDF;
$quote-link-color: #FFDD76;

$no-js-color: #DBDBDB;
$no-js-link-color: #7abf63;

// Theme

$background-color: #161616;

$about-background-color: #fff;
$about-border-color: #cacaca;
