
/* Table of Contents
 ============================================================================ */

/*

	1. Imports
	2. Base
	3. Structure
	4. Utilities
	5. Media Queries

 */


/* 1. Imports
 ============================================================================ */

/* Fonts are loaded in the head of app/index.html */

@import "compass/css3";


/* 2. Base
 ============================================================================ */

html {
	min-height: 100%;
}

body {
	font-size: 0.875em;
	line-height: 1.5;
	font-family: "Droid Sans", sans-serif;
	text-rendering: optimizelegibility;
	color: #333;
	background-color: #161616;
}

h1, h2, h3 {
	font-family: "Droid Serif", serif;
}

p {
	margin-bottom: 1.5em;
}

a {
	font-weight: bold;
	color: #2399FA;
	text-decoration: none;
	@include transition(all .2s);
	&:hover {
		color: #10426B;
	}
}


/* 3. Structure
 ============================================================================ */

.quote-view {
	max-width: 960px;
	margin: 15% auto;
	color: #F0EEDF;
	text-shadow: 0 2px 3px #000000;

	a {
		font-weight: bold;
		color: #FFDD76;
		text-decoration: none;
		text-shadow: 0 2px 3px #453C16;
	}

	.quote-text {
		font-size: 1.4em;
		font-family: "Droid Serif", serif;
		text-align: center;
	}

	.quote-source {
		display: block;
		margin-right: 6em; // Push the citation inward a bit.
		text-align: right;

		&:before {
			content: "\2014"; // ndash (–)
		}
	}
}

.about-view {
	max-width: 600px;
	margin: 8% auto 0 auto;
	padding: .15em 1.15em;
	background-color: #fff;
	border: 1px solid #CACACA;
	border-radius: .5em;
}


.no-js {
	color: #DBDBDB;
	font-size: 1.2em;
	text-align: center;

	a {
		color: #FFB24D;
	}

	a:hover {
		text-decoration: none;
	}

	.sad {
		font-size: 1.25em;
	}

	.underline span {
		background-color: #FFB24D;
	}
}


.background-overlay {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.background-image {
	z-index: -100; /* Set the background below everything else. */
	background-position: center center;
	@include background-size(cover);
	@extend .background-overlay;
}


/* Background image classes, applied by the setImage method
   in js/fireflies.js */

.bg-autumn-grass        { background-image: url("/img/bg-autumn-grass.jpg") }

.bg-blossoming-pathway  { background-image: url("/img/bg-blossoming-pathway.jpg") }

.bg-dock-street-market  { background-image: url("/img/bg-dock-street-market.jpg") }

.bg-lanterns-in-the-sky { background-image: url("/img/bg-lanterns-in-the-sky.jpg") }

.bg-leap                { background-image: url("/img/bg-leap.jpg") }

.bg-majestic-log        { background-image: url("/img/bg-majestic-log.jpg") }

.bg-noc-kupaly          { background-image: url("/img/bg-noc-kupaly.jpg") }

.bg-pagoda              { background-image: url("/img/bg-pagoda.jpg") }

.bg-pathway-lamp        { background-image: url("/img/bg-pathway-lamp.jpg") }

.bg-snow                { background-image: url("/img/bg-snow.jpg") }

.bg-snowy-pine          { background-image: url("/img/bg-snowy-pine.jpg") }

.bg-staircase-leaf      { background-image: url("/img/bg-staircase-leaf.jpg") }

.bg-the-ocean-sky       { background-image: url("/img/bg-the-ocean-sky.jpg") }

.bg-tokyo-tower         { background-image: url("/img/bg-tokyo-tower.jpg") }


/* 4. Utilities
 ============================================================================ */

.underline {
	display: inline-block;

	span {
		position: relative;
		height: 2px;
		display: block;
		background-color: #FFDD76;
		@include scaleX(0);
		@include transition(all 0.2s ease-in-out);
	}

	&:hover span {
		@include scaleX(1);
	}
}


/* 5. Animations
 ============================================================================ */

.fade-in {
	-webkit-animation: fade-in 2s;
	animation: fade-in 2s;
}

.slide-down {
	position: relative;
	-webkit-animation: slide-down 1.25s;
	animation: slide-down 1.25s;
}

@-webkit-keyframes fade-in {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@keyframes fade-in {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes slide-down {
	from { bottom: 3em; }
	to   { bottom: 0; }
}
@keyframes slide-down {
	from { bottom: 3em; }
	to   { bottom: 0; }
}


/* 6. Media Queries
 ============================================================================ */

@media (max-width: 480px) {
	.quote {
		margin: 0 1em;
	}

	.quote cite {
		margin-right: 0;
	}
}
