
/* Table of Contents
 ============================================================================ */

/*

  1. Imports
  2. Base
  3. Structure
  4. Utilities
  5. Animations

 */


/* 1. Imports - Getting Sass partials
 ============================================================================ */

/* '_base' contains all of the variables used throughout the
 * stylesheet, as well as Compass modules. */
@import "base";


/* 2. General - Setting up the main styles
 ============================================================================ */

*::-moz-selection {
  background-color: $selection-background-color;
  color: $selection-color;
  text-shadow: none;
}

*::selection {
  background-color: $selection-background-color;
  color: $selection-color;
  text-shadow: none;
}


html, body {
  /* <html> and <body> need their heights set to 100% for the
   * background image to remain covering the entire screen,
   * while allowing for more content below it. */
  height: 100%;
  min-height: 100%;
}

body {
  font-size: 1em;
  line-height: 1.5;
  font-family: $font-stack;
  text-rendering: optimizelegibility;
  color: $text-color;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p, figure, blockquote,
pre, table, fieldset, hr {
  margin-top: 0;
  margin-bottom: 1.5em;
}

h1, h2, h3 {
  margin-top: .8em;
  margin-bottom: .6em;
  color: $header-color;
  font-family: $header-font-stack;
}

a {
  font-weight: bold;
  color: $link-color;
  text-decoration: none;
  @include transition(all .2s);
  &:hover {
    color: $link-hover-color;
  }
}


/* 3. Structure - The look and feel of the site
 ============================================================================ */

.container,
.extended-container {
  @include bleed-x(1.25em);
}

.container {
  @include container($primary-layout)
}

.quote-container {
  @include container($quote-layout);
}

.extended-container {
  @include container($extended-layout);
}


.masthead {
  height: 100%;
  min-height: 100%;
  background-attachment: fixed;
  @include background-size(cover);
}


.quote-view {
  padding-top: 15%;
  color: $quote-color;
  text-shadow: 0 2px 3px #000000;

  a {
    font-weight: bold;
    color: $quote-link-color;
    text-decoration: none;
    text-shadow: 0 2px 3px #453C16;
  }

  .underline span {
    background-color: $quote-link-color;
  }
}

.quote-text {
  font-size: 1.3em;
  font-family: $quote-font-stack;
  text-align: center;
  @include full;
}

.quote-source {
  font-size: .9em;
  @include suffix(10%);
  @include last;

  &:before {
    content: "\2014"; // ndash (–)
  }
}


.sub-content {
  padding-bottom: 1em;
  background-color: $sub-content-bg-color;
  border-top: .25em solid #20242E;

  .about {
    @include full;
  }
}


.site-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: .85em;
  text-align: center;
  background-color: $footer-bg-color;
}

.footer-links {
  margin-bottom: .4em;
  display: inline-block;

  li {
    display: inline;
    float: left;
    list-style-type: none;

    &:after {
      padding-right: .65em;
      padding-left: .65em;
      display: inline;
      content: "\00B7"; // Mid dot (·)
    }
    &:last-child:after {
      /* Set the content to nothing on the last child, so
       * dots will only appear in between elements. */
      content: "";
    }
  }
}


.no-js {
  display: block;
  margin: 15% auto 0 auto;
  color: $no-js-color;
  font-size: 1.2em;
  text-align: center;

  .sad {
    font-size: 1.25em;
  }

  a, a:hover {
    color: $no-js-link-color;
  }

  .underline span {
    background-color: $no-js-link-color;
  }
}


/* 4. Utilities - Things used all over the place
 ============================================================================ */

.underline {
  display: inline-block;

  span {
    position: relative;
    height: 2px;
    display: block;
    background-color: #000;
    @include scaleX(0);
    @include transition(all 0.2s ease-in-out);
  }

  &:hover span {
    @include scaleX(1);
  }
}

// Classes for each image so they can be applied via the app logic.

.bg-autumn-grass        { background-image: url("/img/bg-autumn-grass.jpg") }

.bg-blossoming-pathway  { background-image: url("/img/bg-blossoming-pathway.jpg") }

.bg-dock-street-market  { background-image: url("/img/bg-dock-street-market.jpg") }

.bg-lanterns-in-the-sky { background-image: url("/img/bg-lanterns-in-the-sky.jpg") }

.bg-leap                { background-image: url("/img/bg-leap.jpg") }

.bg-majestic-log        { background-image: url("/img/bg-majestic-log.jpg") }

.bg-noc-kupaly          { background-image: url("/img/bg-noc-kupaly.jpg") }

.bg-pagoda              { background-image: url("/img/bg-pagoda.jpg") }

.bg-pathway-lamp        { background-image: url("/img/bg-pathway-lamp.jpg") }

.bg-snow                { background-image: url("/img/bg-snow.jpg") }

.bg-snowy-pine          { background-image: url("/img/bg-snowy-pine.jpg") }

.bg-staircase-leaf      { background-image: url("/img/bg-staircase-leaf.jpg") }

.bg-the-ocean-sky       { background-image: url("/img/bg-the-ocean-sky.jpg") }

.bg-tokyo-tower         { background-image: url("/img/bg-tokyo-tower.jpg") }


/* 5. Animations
 ============================================================================ */

.fade-in {
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
}

.slide-down {
  position: relative;
  -webkit-animation: slide-down 1.25s;
  animation: slide-down 1.25s;
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes slide-down {
  from { bottom: 3em; }
  to   { bottom: 0; }
}
@keyframes slide-down {
  from { bottom: 3em; }
  to   { bottom: 0; }
}
