
/* Table of Contents
 ============================================================================ */

/*

  1. Compass
  2. Fonts
  3. Colors

 */


/* 1. Compass - Importing Gems and Modules.
 ============================================================================ */

/* Import Compass modules individually so it's clear what
 * is being used in the project */
@import "compass/css3";


/* Susy grid system */

@import "susy";

$susy: (
	column-width: 5em
);

$primary-layout:  ( columns: 6 );
$quote-layout:    ( columns: 11 );
$extended-layout: ( columns: 12 );


/* 2. Fonts - Directly from Google
 ============================================================================ */

// Fonts are loaded in the <head> of app/index.html

$font-stack: "Droid Sans", sans-serif;
$header-font-stack: $font-stack;
$quote-font-stack: "Droid Serif", serif;


/* 3. Colors - The look and feel of the site
 ============================================================================ */

// Typography

$text-color: #DCDFE8;
$header-color: tint($text-color, 5);

$link-color: #FF595B;
$link-hover-color: #FF8A8B;

$quote-color: #F0EEDF;
$quote-link-color: #FFDD76;

$no-js-color: #DBDBDB;
$no-js-link-color: #7abf63;

// Theme

$selection-background-color: #E03669;
$selection-color: #F5F5F5;

$background-color: #161616;

$sub-content-bg-color: #18191B;

$footer-bg-color: #141517;
